Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
desktop/Makefile
desktop/Makefile.in
desktop/gnome-mastermind.desktop
gnome-doc-utils.make
help/Makefile
help/Makefile.in
help/fr/.xml2po.mo
help/fr/gnome-mastermind.xml
help/fr/legal.xml
help/gnome-mastermind-C.omf
help/gnome-mastermind-fr.omf
help/gnome-mastermind-id.omf
help/gnome-mastermind-it.omf
help/id/
help/id/.xml2po.mo
help/id/gnome-mastermind.xml
help/id/legal.xml
help/it/.xml2po.mo
help/it/gnome-mastermind.xml
help/it/legal.xml
icons/Makefile
icons/Makefile.in
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
omf.make
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/ar.gmo
po/de.gmo
po/en_GB.gmo
po/es.gmo
po/eu.gmo
po/fr.gmo
po/id.gmo
po/it.gmo
po/pl.gmo
po/pt_BR.gmo
po/stamp-it
po/sv.gmo
src/.deps
src/Makefile
src/Makefile.in
src/gnome-mastermind
src/gnome_mastermind-gnome-mastermind.o
stamp-h1
themes/Makefile
themes/Makefile.in
ui/Makefile
ui/Makefile.in
xmldocs.make
